body{
 padding: 0;
 margin: 0;  
 background-color: grey;
 color: white;
 font-family: arial, Sans-Serif;
}

header{
  padding-bottom: 30px;
  background-color: transparent;
}

.box{
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

span{
  color: #8AAEE0;
}

a{
  list-style-type: none;
  text-decoration: none;
  color: #0f969c;
}

.nav{
 padding: 4vh;
 margin: auto;
 background-color: #2b124c;
 border-bottom: 3px solid black;
}

div{
  display: flex;
  color: grey;
  background-color: #fff;
  padding: 1px;
  margin: auto;
  /*border: 3px solid black;*/
}

.inform{
  justify-content: space-between;
  display: block;
  float: left;
}

img{
  width: 200px;
  height: 290px;
}

h2{
  text-align: center;
  padding-bottom: 90px;
}

p div{
  padding-top: 200px;
  text-align: justify;
}